<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Akimedia | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    @Html.ActionLink("Akimedia", "Index", "Home", null, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Главная", "Index", "Home", null, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Кинематограф", "Index", "Movies", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.TextBox("query", null, new { @class = "form-control mr-sm-2", placeholder = "Поиск" })
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        }
    </div>
</nav>
<div class="container body-content mt-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Александр Бобко, ПКС-14</p>
        </footer>
  
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
